  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>登録情報編集ページ</h2>
          <%= render 'form_edit', user: @user %>
　　　　　<h5>パスワード再設定はこちら</h5>
          <%= link_to 'プロフィールページへ', @user %> 
      </div>
    </div>
  </div>


  <div id="social">
    <div class="container">
      <div class="row centered">
            <!-- free space -->
      </div>
    </div>
  </div>
