<% provide(:title, '登録情報編集') %>
　<div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>登録情報編集ページ</h2>
          <%= render 'users/shared/form_edit', user: @user %>
          <h5><%= link_to 'パスワード再設定はこちらから', '/users/pass_edit' %></h5>
          <%= link_to 'プロフィールページへ', @user %> 
      </div>
    </div>
  </div>
