  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        
        <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>

        <h1 class="sign-up-h1">新規登録フォーム</h1>
        <P>登録する前に必ず<%= link_to '利用規約', users_readme_path %>を読んでください。</P>
            <%= render 'form', user: @user %>
            <%= link_to 'Back', users_path %>
      </div>

    </div>
  </div>
  
  <div id="social">
    <div class="container">
      <div class="row centered">
            <!-- free space -->
      </div>
    </div>
  </div>
