<% provide(:title, 'パスワード変更') %>
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>パスワード変更ページ</h2>
          <%= render 'users/shared/form_edit_pass', user: @user %>
      </div>
    </div>
  </div>


  <div id="social">
    <div class="container">
      <div class="row centered">
            <!-- free space -->
      </div>
    </div>
  </div>
