<% provide(:title, '画像投稿') %>
  <!-- post -->
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <section class="user_info">
          <%= render 'users/shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'users/shared/form_post' %>
        </section>
      </div>
    </div> 
  </div>