  <!-- container -->
  <div class="container">
    <div class="row centered md">
      
      <!-- change title depends on relation  -->
　　  <h1><%= @h1 %> </h1>
　　  
　　  <!-- refactroing to partial -->
      <%= render '/users/shared/users' %>